body {
  font-family: 'Taviraj', serif;
}

#nav {
  font-family: 'Monoton', cursive;
  padding-left: 20px;
}

#instrumentsLabel {
  font-size: 15px;
  color: #7B7B7C;
  padding: 10px;
}

a {
  color: #00695c;
}

a:hover {
  color: #009688;
  cursor: pointer;
}